{% extends 'rsc_mgmt/base.html' %}

{% block title %}Index{% endblock %}

{% block body %}
        <h2>Liste des ressources - <a href="{% url "create_res" %}">En ajouter une</a></h2>
        {% if res %}
            {% for r in res %}
                <ul>
                    <li><a href="#" onclick="alert({{ r.capacite }})">{{ r.libele }}</a></li>
                </ul>
            {% endfor %}
        {% else %}
            <p>Il n'y a pas de ressources.</p>
        {% endif %}

        <h2>Liste des types de ressources - <a href="{% url "create_res_type" %}">En ajouter un</a></h2>
        {% if type %}
            {% for type in type %}
                <ul>
                    <li>{{ type.name }}</li>
                </ul>
            {% endfor %}
        {% else %}
            <p>Pas de type de ressource.</p>
        {% endif %}

{% endblock %}